common==0.1.2
emd==0.6.2
h5py==3.7.0
keras==2.8.0
matplotlib==3.6.2
mediapipe==0.9.0.1
numpy==1.24.2
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.72
pandas==1.5.2
Pillow==10.0.0
plotly==5.3.1
prettytable==3.8.0
ptlflow==0.2.7
pyts==0.13.0
pyVHR==2.0
scikit_image==0.18.3
scipy==1.8.1
tensorflow==2.8.0
torch==1.13.1
tqdm==4.62.3
tvm==1.0.0
